{% extends 'flask_user/_public_base.html' %}
{% block content %}

<h3 style="text-align: center;">Registration</h3>
<p>To register for access , click the <a href="/user/register">Register</a> link. <strong>Your username MUST be your callsign. </strong>Information for you account is pulled from <a href="https://www.radioid.net/">RadioID.net</a>, including all associated DMR IDs with your callsign. After filling out the fields, a confirmation link may be emailed to you. After confirming your email address, your account may be reviewed and approved by an administrator. You may receive an email when your account is approved.</p>
<p>&nbsp;</p>
<h3 style="text-align: center;">Hotspot/Repeater Login</h3>
<p>To find your passphrase(s) for use with the MMDVM server(s), click on the <a href="/generate_passphrase">Passphrase(s)</a> link. This page will display a unique passphrase for each of your DMR IDs. Use the desired DMR ID and passphrase in your hotspot/repeater configuration. Each passphrase is also spelled phonetically for ease of manual entry. A special script to automatically add our MMDVM servers to Pi-Star is available by clicking on link provided on the View Passphrase(s) page (also available <a href="/generate_passphrase/pi-star">here</a>).</p>
<p>&nbsp;</p>
<h3 style="text-align: center;">Updating DMR ID Information</h3>
<p>If you recently added a DMR ID to <a href="https://www.radioid.net/">RadioID.net</a>, or made any change, you can update your account by clicking on the <a href="/update_ids">update link</a> on the <a href="/user/edit_user_profile">user profile settings</a> page.</p>
<p>&nbsp;</p>
<h3 style="text-align: center;">Talkgroups</h3>
<p>You may view a list of all talkgroups by going to the <a href="talkgroups">Talkgroups</a> page. Click on the talkgroup name for more information. A CSV file is available for download and may be used in the CPS of some radios. Talkgroups listed there may not be available on all servers if there are multiple. You may find a list of talkgroups available on each server by going to the <a href="/generate_passphrase">Passphrase(s)</a> page.</p>
<p>&nbsp;</p>
<h3 style="text-align: center;">MMDVM Options</h3>
<p>Options are like a type of command that your hotspot/repeater sends to the server for various functions. The following options are supported:</p>
<div class="container-fluid">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Option</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>NO_MAP</td>
        <td>This option will prevent your hotspot/repeater from plotting on the map. <strong>This option may also be entered into the Location field of your hotspot, if your hotspot doesn't have an options field.</strong></td>
      </tr>
     
    </tbody>
  </table>
</div>
<p>You can add multiple options by separating them using a semicolon (<strong>;</strong>). <br />
Example: <pre>OPTION_1;OPTION_2</pre>
{% endblock %}
