{% extends 'flask_user/_public_base.html' %}
{% block content %}

<p>&nbsp;</p>
 <div class="well">Map of connected peers and GPS locations. <br />
 To diasble map plotting for your hotspot or repeater, see the <strong>MMDVM Options</strong> section in <a href="/help"><strong>Help</strong></a>.
<p>&nbsp;</p>

<table  border="1">
<tbody>
<tr>
<td><span style="color: #ff0000;"><strong>Red</strong></span> = Peer location (no APRS)</td>
<td><span style="color: #0000ff;"><strong>Blue</strong></span> = GPS location (APRS)</td>
<!-- <td><strong><span style="color: #00ff00;">Green</span></strong> = Peer location (APRS)</td> -->
</tr>
</tbody>
</table>
 
</div>
<div class="row container-fluid" >
  <div class="col-xs-12">
  {{markup_content}}

</div>
</div>

<p>&nbsp;</p>
{% endblock %}
