{% extends 'flask_user/_public_base.html' %}
{% block content %}

  <h1 style="text-align: center;">Tiny Pages</h1>


<div class="row">
  <div class="col-lg-12">
  {% if call_or_get(current_user.is_authenticated) %}
<a href="/add_tp"><button type="button" class="btn btn-primary">Add Tiny Page</button></a>
{% endif %}
  <table data-toggle="table" data-pagination="true" data-search="true" >
  <thead>
    <tr>
      <th>Query</th>
      <th>Content</th>
      <th>Author</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>

  {{markup_content}}

  </tbody></table>


  </div>
</div>

<p>&nbsp;</p>
{% endblock %}
