{% extends 'flask_user/_public_base.html' %}
{% block content %}
<p>&nbsp;</p>
<div class="card bg-light card-body mb-3">
    <h4 style="text-align: center;"><a href="/generate_passphrase/pi-star"><button type="button" class="btn btn-warning">Automatic Pi-Star Setup Script</button></a> </h4>
    <br>
    
<h4 style="text-align: center;"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#options_modal">
  MMDVM Options
</button></h4>
</div>

<div class="row">
  <div class="col-sm-6">{{server_content}}</div>
  <div class="col-sm-6">{{passphrase_content}}</div>
</div>


<!-- Options Modal -->
<div class="modal fade" id="options_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">


<div class="container-fluid">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Option</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>NO_MAP</td>
        <td>This option will prevent your hotspot/repeater from plotting on the map. <strong>This option may also be entered into the Location field of your hotspot, if your hotspot doesn't have an options field.</strong></td>
      </tr>
     
    </tbody>
  </table>
</div>


      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<p>&nbsp;</p>
{% endblock %}
