<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="120" > 
    <title>{{title}}</title>
    <style>
body {background-color: D3D3D3;}
h1   {color: green;}
p {
  padding: 10px;
  margin: 20px;

}
</style>
</head>
<body>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="{{logo}}" alt="Logo" width="300" height="144" /></p>
<h1 style="text-align: center;">{{title}}</h1>
<hr />
<table style="margin-left: auto; margin-right: auto;" border="black" cellspacing="3" cellpadding="3">
<tbody>
<tr>
<td>
    <button onclick="window.location.href='/';">
     Dashboard
    </button>
</td>
<td>
    <button onclick="window.location.href=about';">
      About Dashboard
    </button>
</td>
</tr>
</tbody>
</table>
<hr />
This is a dashboard for the HBLink3 GPS/Data project, found at <a href="https://github.com/kf7eel/hblink3">https://github.com/kf7eel/hblink3</a>.
</body>
 </html>
