<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="120" > 
    <title>{{title}}</title>
    <style>
body {background-color: D3D3D3;}
h1   {color: green;}
p {
  padding: 10px;
  margin: 20px;

}
</style>
</head>
<body>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="{{logo}}" alt="Logo" width="300" height="144" /></p>
<h1 style="text-align: center;">{{title}}</h1>
<hr />
<table style="margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td>
<h2><a href="/">Dashboard</a></h2>
</td>
<td>
<h2><a href="about">About Dashboard</a></h2>
</td>
</tr>
</tbody>
</table>
<hr />
<p style="text-align: center;"><em>Page automatically reloads every 2 minutes.</em></p>
<p style="text-align: left;">{{description}}</p>
<table>
<tbody>
<tr>
<td><div><p align="center"><iframe style="border: none;" title="Bulletin Board" src="bulletin_board" width="480" height="950"></iframe></p></div></td>
<td><div>
<p align="center"><iframe style="border: none;" title="Positions Received" src="positions" width="620" height="950"></iframe></p>
</div></td>
</tr>
</tbody>
</table>
 <hr />
<div style="text-align: center;">Dashboard created by KF7EEL - <a href="https://github.com/kf7eel/hblink3">https://github.com/kf7eel/hblink3</a><br />HBLink created by N0MJS.<br /><a href="https://github.com/HBLink-org">HBLink GitHub page</a></div>
</body>
 </html>
